/* @override http://looce.com:8888/static/chat.css?v=8bfd9*/

body {
	background: white;
  	margin: 10px;
  	font-family: sans-serif;
  	font-size: 10pt;
  	color: black;
}

#editor {
	width: 75%;
	float: left;
}

#chat {
	width: 25%;
	float: left;
	position: absolute;
	right: 10px;
	bottom: 0;
}

#footer {
	clear: both;
}
input#message {
	width: 100% !important;
}

textarea {
	padding: 10px;
	width: 90%;
	height: 500px;
}

#messageform {
	width: 100%;
}

#inbox {
	overflow: auto;
}